
# Python bytecode / cache
__pycache__/
*.pyc

# Local database
db.sqlite3

# Environment & VirtualEnv
.venv/
.env

# macOS system files
.DS_Store

# Логи
*.log

# Загруженные/сгенерированные файлы результатов
media/

# Кэш инструментов
.pytest_cache/
.ruff_cache/
